{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper light-blue">
                <ul>
                    {% if request.session.user_id %}
                        <li><a href="/" class="left brand-logo">&nbsp;&nbsp;{{ user.first_name }} {{ user.last_name }}'s Home</a></li>
                    {% else %}
                        <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Home</a></li>
                    {% endif %}
                    </ul>
                    <ul class="right">
                    {% if request.session.user_id %}
                        <li><a href="{% url 'dashboard' %}">Books Dashboard</a></li>
                        <li><a href="{% url 'user_shelves' %}">Shelves</a></li>
                        <li><a href="/users/{{request.session.user_id}}">Profile</a></li>
                        <li>Wall</li>
                        <li>Friends</li>
                        <li><a href="/login/users/logout">Log out</a></li>
                    </ul>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer light-blue">
        <div class="right">All Rights Reserved, &copy; 2021 Dojo Reads &nbsp;</div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>

    $(document).ready(function(){
    $('select').formSelect();
    });
    </script>
</body>
</html>