{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</head>

<body class="grey lighten-2">
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper light-blue">
                <ul id="welcome-msg">
                    {% if request.session.user_id %}
                        <li><a href="/" class="left brand-logo">Welcome, {{request.session.first_name }} {{ request.session.last_name }}!</a></li>
                    {% endif %}
                </ul>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                {% if request.session.user_id %}
                    <li><a href="{% url 'dashboard' %}">Books Dashboard</a></li>
                    <li><a href="/users/{{request.session.user_id}}/shelves">Shelves</a></li>
                    <li><a href="/users/{{request.session.user_id}}">Profile</a></li>
                    <li><a href="/users/{{request.session.user_id}}/wall">Wall</a></li>
                    <li><a href="/users/{{request.session.user_id}}/friends">Friends</a></li>
                    <li><a href="/login/users/logout">Log out</a></li>
                {% else %}
                    <li><a href="{% url 'dashboard' %}">Books Dashboard</a></li>
                    <li><a href="/login">Log In or Register</a></li>
                {% endif %}
                </ul>

                {% comment %}
                <!-- This is theoretically what should show up for the mobile menu -- just need to actually make it show up! -->
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">Javascript</a></li>
                    <li><a href="mobile.html">Mobile</a></li>
                </ul>
                {% endcomment %}

            </div>
        </nav>
    </header>

    <main>
        
        {% if new_requests %}
            {% for potential_friend in new_requests %}
            <div class="row">
                <div class="col s8 offset-s2 m5 offset-m1 l4 offset-l1 xl3 offset-xl1 card">
                    <p>You have a new friend request from <a href="/users/{{potential_friend.id}}">{{potential_friend.first_name}} {{potential_friend.last_name}}</a>!</p>
                    <div class="center">
                        <form action="/users/{{potential_friend.id}}/accept_friend" class="inline">
                            <button class="btn purple darken-1 waves-effect waves-light friend-req-btn">Accept</button>
                        </form>
                        <form action="/users/{{potential_friend.id}}/ignore_friend" class="inline">
                            <button class="btn red darken-3 waves-effect waves-light friend-req-btn">Ignore</button>
                        </form>
                    </div>
                </div>
            </div>

            {% endfor %}
        {% endif %}

        {% block content %}






        {% endblock %}
    </main>
    <br>
    <br>
    <footer class="page-footer light-blue">
        <div class="right">This page is not copyrighted alas</div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>

    $(document).ready(function(){
    $('select').formSelect();
    });
    </script>
</body>
</html>