<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>git 
    <section id="detail_box">
        <h1>{{book.title}}</h1>
        <p> Author: {{book.author_firtname}} {{book.author_lastname}}</p>
        <p>description: {{book.descripion}}</p>
        <p>ISBN: {{book.isbn}}</p>
    </section>

    <section id="Action_box">
        <h3>Actions</h3>
        <select name="" id="">
            <option value=""></option>
        </select>
        <input type="submit"><br>

        <select name="" id="">
            <option value=""></option>
        </select>
        <input type="submit">
    </section>
</body>
</html>