<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
    find A Book</h2>

    <form action="/books/locate" method="POST">
        {%csrf_token%}
        Title <input type="text" name="title">
        Author <input type="text" name="author" >
        ISBN <input type="text" name="">
        <input type="submit">
    </form>
    <p>Can't find what you are looking for?</p>
    <a href="/books/add">Add a Book</a>
</body>
</html>