{% extends "base.html" %}
{% block content %}



{% if user.id == request.session.user_id %}
    <h1>Your Friends</h1>
{% else %}
    <h1>{{user.first_name}} {{user.last_name}}'s Friends</h1>
    {% endif %}


{% if messages %}
    {% for message in messages %}
        <p{% if message.tags %} class="{{message.tags}}"{% endif %}>
            {{message}}
        </p>
    {% endfor %}
{% endif %}



<section>
    <div class="row">
        <h2>Your Friends:</h2>
    </div>

    <aside id="search_new" class="border">
        <h2>Find Users By:</h2>
        <form method="POST" action="/users/search">
        {% csrf_token %}
            <div><input type="text" placeholder="First Name..." name="first_name"></div>

            <div><input type="text" placeholder="Last Name..." name="last_name"></div>

            <div><input type="text" placeholder="Username..." name="username"></div>

            <div><input type="email" placeholder="Email..." name="email"></div>

            <input type="submit" hidden>
        </form>

    </aside>

    <form id="friend_search" method="POST" action="/users/{{user.id}}/friends/search">
    {% csrf_token %}
        <label for="friend_search">Search Friends...</label>
        <input type="text"  name="friend_search" id="friend_search">
    <input type="submit" hidden>
    </form>

    
    
        {% if user.friends.count == 0 %}
        <div class="friend_box">You don't have any friends :(</div>
        
        {% else %}
        {% for friend in user.friends.all %}





        <div class="friend_box">
            <a href="/users/{{friend.id}}">{{friend.first_name}} {{friend.last_name}}</a>
            <p>Last activity:</p>

        </div>







        {% endfor %}
        






        {% endif %}
    </ul>





</section>











{% endblock %}