{% extends "base.html" %}
{% block content %}

<div class="container">

    <h3 class="center-align">
        {% if user.id == request.session.user_id %}
            Your
        {% else %}
            {{user.first_name}} {{user.last_name}}'s 
        {% endif %}
    Friends</h3>


    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{message.tags}}"{% endif %}>
                {{message}}
            </p>
        {% endfor %}
    {% endif %}



    <div class="row">
        <aside id="search_new" class="card col s3">
            <div class="card-content">
                <p class="card-title">Find Users By:</p>
                <form method="POST" action="/users/search">
                {% csrf_token %}
                    <div><input type="text" placeholder="First Name..." name="first_name"></div>

                    <div><input type="text" placeholder="Last Name..." name="last_name"></div>

                    <div><input type="text" placeholder="Username..." name="username"></div>

                    <div><input type="email" placeholder="Email..." name="email"></div>

                    <button type="submit" class="btn purple darken-1 waves-effect waves-light">
                        Search
                        <i class="material-icons right">search</i>
                    </button>
                </form>
            </div>
        </aside>

        <form class="col s9 pull-3" id="friend_search" method="POST" action="/users/{{user.id}}/friends/search">
        {% csrf_token %}
            <!-- <h4>Search Friends:</h4> -->
            <div class="input-field purple-text text-darken-1">
                <i class="material-icons prefix">search</i>
                <input type="search" name="friend_search" id="friend_search" placeholder="Search your friends...">
                <!-- <label for="friend_search">Search friends...</label> -->
            </div>
        <input type="submit" hidden>
        </form>

        
        
            {% if user.friends.count == 0 %}
            <div class="card col s4">
                <div class="card-content">
                    <p>You don't have any friends :(</p>
                </div>
            </div>
            
            {% else %}
            {% for friend in user.friends.all %}

            <div class="card col s3 offset-s1">
                <div class="card-content">
                    <p><a href="/users/{{friend.id}}">{{friend.first_name}} {{friend.last_name}}</a><p>
                    <p>Last activity:</p>
                </div>
            </div>

            {% endfor %}
            






            {% endif %}
        </ul>





    </div>










</div>
{% endblock %}