{% extends "base.html" %}
{% block content %}
<div class="container">



    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{message.tags}}"{% endif %}>
                {{message}}
            </p>
        {% endfor %}
    {% endif %}


    {% if options.count > 0 %}
        <h3 class="center-align">Book Search Results:</h3>
        <ul>
        {% for book in options %}



            <!-- <li><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li> -->

        
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></span>
                        <p>By {{book.author_firstname}} {{book.author_lastname}}</p>
                        <p>Description: {{ book.description }}</p>
                    </div>
                </div>
        





        {% endfor %}
        </ul>
    {% else %}
        <p>No matches found!</p>
    {% endif %}

    <form action="/">
    {% csrf_token %}
        <button type="submit" class="btn purple darken-1 waves-effect waves-light">
            <i class="material-icons left">arrow_back</i>
            Back to search
        </button>
    </form>







</div>
{% endblock %}