{% extends "base.html" %}
{% block content %}


<h1>Search For Friends</h1>

{% if messages %}
    {% for message in messages %}
        <p{% if message.tags %} class="{{message.tags}}"{% endif %}>
            {{message}}
        </p>
    {% endfor %}
{% endif %}


{% if options.count > 0 %}
    <h2>Search Results:</h2>
    <ul>
    {% for user in options %}
        <li><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No matches found!</p>
    {% endif %}










{% endblock %}