{% extends "base.html" %}
{% block content %}

<h3>{% if shelf.owner.id == request.session.user_id %}Your{% else %}{{shelf.owner.first_name}}'s{% endif %} {{ shelf.name }} Shelf</h3>
<div class="row1">
    <div class="col">

        {% if shelf.books.count == 0 %}
            <div class="card">
                <div class="card-content">
                    <p>You haven't added any books to this shelf yet!</p>
                </div>
            </div>

        {% else %}

        {% for book in shelf.books.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></span>
                    <p>By {{book.author_firstname}} {{book.author_lastname}}</p>
                    <p>Description: {{ book.description }}</p>
                    <p>Added On: {{ book.created_at }}</p>
                    <br>

                    {% if shelf.owner.id == request.session.user_id %}
                    <form action="/books/{{book.id}}/shelves/{{shelf.id}}/remove">
                        <button class="btn red darken-3">
                            Remove from shelf
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% endif %}
        
        <form action="/">
        <button class="btn waves-effect waves-light" type="submit" name="action">Find more books<i class="material-icons right">search</i></button>
        <br><br>
    </div>
</div>

{% endblock %}