{% extends "base.html" %}
{% block content %}
<div class="container">


    <h3 class="center-align">{% if user.id == request.session.user_id %}Your{% else %}{{user.first_name}}'s{% endif %} Shelves</h3>

    {% if messages %}
        {% for message in messages %}
            <p class="red-text text-darken-2">
                {{message}}
            </p>
        {% endfor %}
    {% endif %}

    <table class="highlight card">
        <thead>
            <th>Name</th>
            <th>Last Book</th>
            <th>Date</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                {% for shelf in user.shelves.all %}

                    {% if editing and edit_shelf_id == shelf.id %}

                    <form method="POST" action="/shelves/{{shelf.id}}/update">
                    {% csrf_token %}
                        <td>
                            <input type="text" value="{{shelf.name}}" name="name">
                        </td>
                        <td>
                            <button type="submit" class="btn-small purple darken-1 waves-effect waves-light">
                                <i class="material-icons">send</i>
                            </button>
                        </td>
                    </form>

                    {% else %}
                        <td>
                            <a href="/shelves/{{shelf.id}}">{{shelf.name}}</a>
                        </td>
                        <td>{{shelf.books.last.title}}</td>
                    {% endif %}
                <td>{{ shelf.created_at }}</td>
                <td>
                {% if not shelf.fixed %}
                    {% if editing and edit_shelf_id == shelf.id %}
                    <a href="/users/{{request.session.user_id}}/shelves" class="btn-small yellow darken-2 waves-effect waves-light">
                        <i class="material-icons">clear</i>
                    </a>

                    {% else %}
                    <a href="/shelves/{{shelf.id}}/edit" class="btn-small purple darken-1 waves-effect waves-light">
                        <i class="material-icons">edit</i>
                    </a>
                    {% endif %}
                    
                    <a href="/shelves/{{shelf.id}}/delete" class="btn-small red lighten-1 waves-effect waves-light">
                        <i class="material-icons">delete</i>
                    </a>
                {% endif %}

                </td>
            </tr>
        </body>
        {% endfor %}        
    

    {% if not editing %}
    <tr>
        <form action="/shelf/create" method="POST">
            {% csrf_token %}

            <td>
                <div class="input-field">
                    <input  type="text" name="name" id="name">
                    <label for="name">Add New Shelf</label>
                </div>
            </td>

            <td>
                <button class="btn-small purple darken-1 waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons">send</i>
                </button>
            </td>
            <!-- </div> -->
            <td></td>
            <td></td>
        </form>
        
    </tr>
    {% endif %}
    </table>




</div>
{% endblock %}