{% extends "base.html" %}
{% block content %}


<div class="container">
    
    <h3 class="center-align">
        {% if user.id == request.session.user_id %}
            Your
        {% else %}
            {{user.first_name}}'s
        {% endif %}
        Wall
    </h3>


    {% if logged_in_user in user.friends.all or user.id == request.session.user_id %}

        <div class="card">
            <form method="POST" action="/users/{{user.id}}/add_wallpost" class="card-content">
                {% csrf_token %}
                <div class="input-field">
                    <label for="add_post">Write on {% if user.id == request.session.user_id %}your{% else %}{{user.first_name}}'s{% endif%} wall:</label>
                    <textarea class="wallpost materialize-textarea" name="add_post" id="add_post"></textarea>
                </div>
                <button type="submit" class="btn purple darken-1 waves-effect waves-light">Post to wall</button>
            </form>
        </div>
        
        {% for post in wallposts %}
        <div class="card">
            <div class="card-content">
                <h5><a href="/users/{{post.poster.id}}">{{post.poster.first_name}} {{post.poster.last_name}}</a>, at {{post.created_at}}</h5>
                <p class="wallpost" style="margin-left: 25px;">{{post.contents}}</p>
                
                {% if post.poster.id == request.session.user_id or post.wall.id == request.session.user_id %}
                    <p style="margin-left: 25px;">
                        <a href="/posts/{{post.id}}/delete" class="red-text text-darken-2">Delete this post</a>
                    </p>
                {% endif %}

                <ul class="collection">
                    {% for comment in post.comments.all %}
                    <li class="collection-item">
                        <h5><a href="/users/{{comment.commenter.id}}">{{comment.commenter.first_name}} {{comment.commenter.last_name}}</a>, at {{comment.created_at}}</h5>
                        <p class="comment" style="margin-left: 25px;">{{comment.contents}}</p>

                        {% if comment.commenter.id == request.session.user_id or post.wall.id == request.session.user_id %}
                            <p style="margin-left: 25px;">
                                <a href="/comments/{{comment.id}}/delete" class="red-text text-darken-2">Delete this comment</a>
                            </p>
                        {% endif %}
                    </li>
                    {% endfor %}

                    
                    <form method="POST" action="/posts/{{post.id}}/add_comment" class="collection-item">
                    {% csrf_token %}
                        <div class="input-field row">
                            <label for="comment">Write a comment:</label>
                            <textarea class="materialize-textarea col s8" name="comment" id="comment"></textarea>
                        </div>
                        <button type="submit" class="btn purple darken-1 waves-effect waves-light">Comment</button>
                    </form>
                </ul>
                
            </div>
        </div>
        {% endfor %}



        </form>

    {% else %}
        <p class="center-align"><a href="/users/{{user.id}}">Add this user as a friend</a> to see their wall!</p>

    {% endif %}
</div>
















{% endblock %}