.error{
    color: #b00;
    font-weight: bold;
}

.success{
    color: forestgreen;
    font-weight: bold;
}

#friend_search::placeholder{
    color: grey !important;
}

::placeholder {
    opacity: 1;
}

#welcome-msg{
    margin-left: 10px;
}

.inline{
    display: inline;
}

.friend-req-btn{
    margin: 0 5px 10px;
}

.pointer{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobilemenuhidden{
    display: none;
}

.mobilemenushown{
    position: fixed;
    padding: 10px;
    right: 0;
    background-color: #03a9f4;
    z-index: 9999999;
    margin-top: -15px;
}

.mobileouter{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 0;
}

.mobileouter a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding-left: 10px;
}

.mobileouter:hover{
    background-color: #039be5;
}