{% extends "base.html" %}
{% block content %}

<div class="container">

    <h2 class="center-align">Welcome!  Let's read!</h2>
    <p>&nbsp;</p>
    
    {% if messages %}
    <ul class="center-align">
        {% for message in messages %}
        <!-- <li> -->
        <li{% if message.tags %} class="{{message.tags}}"{% endif %}>
            {{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<main class="row">
    <div class="col xl4 offset-xl2 l5 offset-l1 m6 s12">
        <div class="card col s10 offset-s1">
            <form method="POST" action="/login/users/register" class="card-content">
            {% csrf_token %}
                <h4 class="center-align">Register:</h4>
                
                <label for="first_name">First name</label>
                <input type="text" class="fix_width" name="first_name" id="first_name">
            
                <label for="last_name">Last name</label>
                <input type="text" class="fix_width" name="last_name" id="last_name">
            
                <label for="email">Email address</label>
                <input type="email" class="fix_width" name="email" id="email">
            
                <label for="username">Username</label>
                <input type="text" class="fix_width" name="username" id="username">
            
                <label for="password">Password</label>
                <input type="password" class="fix_width" name="password" id="password">
            
                <label for="confirm_pw">Confirm password</label>
                <input type="password" class="fix_width" name="confirm_pw" id="confirm_pw">
            

                <div class="center-align">
                    <button type="submit" class="btn purple darken-1 waves-effect waves-light">Register</button>
                </div>
            </form>
        </div>
    </div>


    <div class="col xl4 l5 m6 s12">
        <div class="card col s10 offset-s1">
            <form method="POST" action="/login/users/login" class="card-content">
            {% csrf_token %}
                <h4 class="center-align">Log in:</h4>

                <div>
                    <label for="username">Username or email</label>
                    <input type="text" class="fix_width" name="username" id="username">
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" class="fix_width" name="password" id="password">
                </div>
        
                <div class="center-align">
                    <button type="submit" class="btn purple darken-1 waves-effect waves-light">Log in</button>
                </div>
            </form>
        </div>

        

        <div class="card col s10 offset-s1 red darken-3 white-text">
            <div class="card-content row">
                <p class="card-title center-align">DEMO USERS</p>
                
                <p class="center-align">For demonstrational purposes: Click either of the following buttons to log in with a demo user account to try out the site.</p>


                <div class="col s12">
                
                    <form method="POST" action="/login/users/demo/1" class="left">
                    {% csrf_token %}
                        <button type="submit" class="btn black waves-effect waves-light">User 1</button>
                    </form>
                    <form method="POST" action="/login/users/demo/2" class="right">
                    {% csrf_token %}
                        <button type="submit" class="btn black waves-effect waves-light">User 2</button>
                    </form>
                </div>
                
            </div>
        </div>

        <div class="center-align">
            <a href="/" class="btn purple darken-1 waves-effect waves-light">Continue as guest</a>
        </div>
            

    </div>

</main>

{% endblock %}